body {
    width: 80%;
    margin: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    height: 100px;
}

header > nav {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

main h1 {
    font-weight: bold;
}

main h2 {
    font-weight: 300;
}

